<div class="container w-container">
    <div class="footer-container"><a href="/" aria-current="page" class="footer-brand w-inline-block w--current"
            data-faitracker-click-bind="true"><img
                src="https://assets-global.website-files.com/61a5d188c74343756e97d881/647bb473159f326b03a3c7e2_bureau_logohorizontal_bw_black%203.png"
                loading="lazy" width="130" alt="bureau"></a>
        <div class="footermiddle">
            <div class="footermenu"><a href="/solutions" class="footer-link"
                    data-faitracker-click-bind="true">Solutions</a><a href="/blog" class="footer-link"
                    data-faitracker-click-bind="true">Resources</a><a href="https://jobs.bureau.id/" target="_blank"
                    class="footer-link" data-faitracker-click-bind="true">Careers</a><a
                    href="https://security.bureau.id/" target="_blank" class="footer-link"
                    data-faitracker-click-bind="true">Security</a><a href="/privacy-policy" class="footer-link"
                    data-faitracker-click-bind="true">Privacy Policy</a><a href="/terms-and-conditions"
                    class="footer-link" data-faitracker-click-bind="true">Terms &amp; Conditions
                </a>
            </div>
            <div class="footer-secondmenu"></div>
        </div>
        <div class="footer-social"><a href="https://twitter.com/bureauidentity" target="_blank"
                class="social-media-link w-inline-block" data-faitracker-click-bind="true">
                <img src="https://assets-global.website-files.com/61a5d188c74343756e97d881/61aa2432b85ab57a63150ccc_twitter.svg"
                    loading="lazy" width="17" height="17" alt="twitter"></a><a
                href="https://www.linkedin.com/company/bureauidentity" target="_blank"
                class="social-media-link w-inline-block" data-faitracker-click-bind="true">
                <img src="https://assets-global.website-files.com/61a5d188c74343756e97d881/61bad422971cd54317708c0d_linkedin%20(4).png"
                    loading="lazy" width="17" height="17" alt="linkedin"
                    srcset="https://assets-global.website-files.com/61a5d188c74343756e97d881/61bad422971cd54317708c0d_linkedin%20(4)-p-500.png 500w, https://assets-global.website-files.com/61a5d188c74343756e97d881/61bad422971cd54317708c0d_linkedin%20(4).png 512w"
                    sizes="(max-width: 767px) 17px, (max-width: 991px) 2vw, (max-width: 1279px) 17px, 1vw">
            </a>
        </div>
    </div>
</div>