.container {
    max-width: 1320px;
    padding-left: 20px;
    padding-right: 20px;
}

.footer-container {
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
}

.w-inline-block {
    max-width: 100%;
    display: inline-block;
}

.footermiddle {
    flex-direction: column;
    display: flex;

    .footer-link {
        color: var(--midnight-blue-2);
        margin-left: 17px;
        margin-right: 17px;
        padding-top: 6px;
        padding-bottom: 6px;
        font-size: 15px;
        line-height: 24px;
        text-decoration: none;
        display: inline-block;
    }
}

.footermenu {
    color: #000;
}

.footer-secondmenu {
    padding-top: 18px;
}

.footer-social {
    padding-top: 6px;
    padding-bottom: 6px;

    .social-media-link {
        margin-left: 25px;
        transition: all .2s ease-in-out;
    }
}