<div data-animation="over-right" class="navbar allslutions w-nav" data-easing2="ease" data-easing="ease"
    data-collapse="tiny" role="banner" data-no-scroll="1" data-duration="400" data-doc-height="1">
    <div class="container-1280 nav-header w-container">
        <div class="brand-parent">
            <a href="/" aria-current="page" class="brand w-nav-brand w--current" aria-label="home"
                data-faitracker-click-bind="true"><img
                    src="https://assets-global.website-files.com/61a5d188c74343756e97d881/647bb473159f326b03a3c7e2_bureau_logohorizontal_bw_black%203.png"
                    loading="lazy" width="115" alt="bureau"></a>
        </div>
        <div data-hover="true" data-delay="1200" class="dropdown w-dropdown" style="max-width: 1320px;">
            <div class="dropdown-toggle w-dropdown-toggle" id="w-dropdown-toggle-0" aria-controls="w-dropdown-list-0"
                aria-haspopup="menu" aria-expanded="false" role="button" tabindex="0">
                <div class="dropdown-text new newone">Products</div>
            </div>
           
        </div>
        <aside role="navigation" class="nav-menu w-nav-menu">

            <a href="/about-us" class="nav-link-primary new newone w-nav-link" style="max-width: 1320px;"
                data-faitracker-click-bind="true">About us</a>
            <a href="/blog" class="nav-link-primary new newone w-nav-link" style="max-width: 1320px;"
                data-faitracker-click-bind="true">Blog</a>
            <a href="/contact-us" class="nav-link-primary new newone w-nav-link" style="max-width: 1320px;"
                data-faitracker-click-bind="true">Contact</a><a href="/partner"
                class="nav-link-primary new newone w-nav-link" style="max-width: 1320px;"
                data-faitracker-click-bind="true">Partnership</a><a href="https://jobs.bureau.id/" target="_blank"
                class="nav-link-primary new newone w-nav-link" style="max-width: 1320px;"
                data-faitracker-click-bind="true">Careers</a><a href="https://docs.bureau.id/" target="_blank"
                class="nav-link-primary new newone w-nav-link" style="max-width: 1320px;"
                data-faitracker-click-bind="true">Documentation</a>
            <a href="/contact-us" class="outline-btn header-btn w-button" data-faitracker-click-bind="true">Schedule a
                Demo</a>
        </aside>
    </div>
    <div class="w-nav-overlay" data-wf-ignore="" id="w-nav-overlay-0"></div>
</div>